.footer {
    background-color: #223c19;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
}

.footer p {
    margin: 5px;
}
